<!DOCTYPE html>
<html>
<head>
	<title>Login as Member | VORTEX</title>
	<link rel="shortcut icon" type="image/png" href="assets/img/logo.png">
	<link rel="stylesheet" href="assets/css/styles.css">
	<link rel="stylesheet" href="assets/css/login.css">
	<script src="assets/js/jquery-3.3.1.min.js"></script>
	<script src="assets/js/styles.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="">
	<img class="background" src="assets/img/background-index.jpg">
	<div class="top-bar">
		<div class="frame">
			<div class="top-nav">
				<form>
					<input type="search" name="" placeholder="Quick search">
					<img class="icon-search" src="assets/img/icon-search_active.png">
				</form>
				<ul>
					<li>
						<a href="home.html"><img class="icon icon-nav" src="assets/img/icon-home.png" data-alt-src="assets/img/icon-home_active.png">Home</a>
					</li>
					<li>
						<a href="register.html"><img class="icon icon-nav" src="assets/img/icon-register.png" data-alt-src="assets/img/icon-register_active.png">Register</a>
					</li>
					<li>
						<a id="active" href="login.html"><img class="icon icon-nav" src="assets/img/icon-login.png" data-alt-src="assets/img/icon-login_active.png">Login</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main-frame">
		<div class="frame">
			<a class="logo" href=""><img src="assets/img/logo.png"></a>
			<div class="content-frame">
				<div class="content">
					<div class="box-info">
				<div class="box-info-heading">
					<h1>Login to Vortex</h1>
				</div>
				<div class="box-info-detail no-top-radius">
					<form method="post" id="contact-form" novalidate="true" name="myForm">
						<div class="form-row login-field user">
							<h4>Username:</h4>
							<input type="text" value class="form-control" name="myName" ng-model="myName" required=>
							<span ng-show="myForm.myName.$touched && myForm.myName.$invalid" class="userspan">The name is required</span>
						</div>
						<div class="form-row login-field pass">
							<h4>Password:</h4>
							<input type="Password" value class="form-control" name="myPass" ng-model="myPass" required=>
							<span ng-show="myForm.myPass.$touched && myForm.myPass.$invalid" class="passspan">The Password is required</span><br>
							<small class="note">
								If you forgot your password click
								<a href="#">here</a>
								.
							</small>
						</div>
						<div class="form-row">
							<input type="submit" name="submit" value="REGISTER" class="btn btn-green" ng-disabled="myForm.myName.$touched && myForm.myName.$invalid || myForm.myPass.$touched && myForm.myPass.$invalid">
						</div>
					</form>
				</div>
			</div>
				</div>
				<div class="side-bar">
					<div class="side-nav">
						<h3>Browse Torrents</h3>
						<ul>
							<li>
								<a href=""><img class="icon icon-nav" src="assets/img/icon-trending_gray.png" data-alt-src="assets/img/icon-trending_active.png">Trending Torrents</a>
							</li>
							<li>
								<a href=""><img class="icon icon-nav" src="assets/img/icon-top_100_gray.png" data-alt-src="assets/img/icon-top_100_active.png">Top 100 Torrents</a>
							</li>
							<li>
								<a href="applications.html"><img class="icon icon-nav" src="assets/img/icon-applications_gray.png" data-alt-src="assets/img/icon-applications_active.png">Applications</a>
							</li>
							<li>
								<a href="games.html"><img class="icon icon-nav" src="assets/img/icon-games_gray.png" data-alt-src="assets/img/icon-games_active.png">Games</a>
							</li>
							<li>
								<a href="movies.html"><img class="icon icon-nav" src="assets/img/icon-movies_gray.png" data-alt-src="assets/img/icon-movies_active.png">Movies</a>
							</li>
							<li>
								<a href="music.html"><img class="icon icon-nav" src="assets/img/icon-music_gray.png" data-alt-src="assets/img/icon-music_active.png">Music</a>
							</li>
							<li>
								<a href="tv.html"><img class="icon icon-nav" src="assets/img/icon-tv_series_gray.png" data-alt-src="assets/img/icon-tv_series_active.png">TV Series</a>
							</li>
							<li>
								<a href="other.html"><img class="icon icon-nav" src="assets/img/icon-other_gray.png" data-alt-src="assets/img/icon-other_active.png">Other</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-bar">
		<div class="frame">
			<ul>
				<li>
					<a href="">Rules</a>
				</li>
				<li>
					<a href="">Contact</a>
				</li>
				<li>
					<a href="">About</a>
				</li>
			</ul>
			<br>
			<span>VORTEX © 2018</span>
		</div>
	</div>
</body>
</html>