.logo {
	width: 240px;
	margin: 64px auto;
}
.icon-search {
	width: 20px;
	left: 12px;
}
.box-search {
	max-width: 720px;
	position: relative;
	margin: 0 auto 32px;
}
.box-search input {
	width: 100%;
	height: 52px;
	padding: 0 160px 0 40px;
	background: black;
	border: 2px solid gray;
	border-radius: 30px;
	font-size: 18px;
	font-weight: bold;
	color: white;
}
.box-search button {
	width: 20px;
	background: none;
	border: 0;
	position: absolute;
	top: 50%;
	right: 12px;
	transform: translate(0, -50%);
	cursor: pointer;
}
.box-search select {
	height: 32px;
	background: transparent;
	border: none;
	font-size: 14px;
	font-weight: bold;
	color: gray;
	position: absolute;
	top: 50%;
	right: 40px;
	transform: translate(0, -50%);
	cursor: pointer;
}
@media (max-width: 480px){
	.box-search select {
		display: none;
	}
	.box-search input {
		padding: 0 40px;
	}
}
.box-search option {
	background: black;
}
.box-info {
	max-width: 560px;
	background: black;
	border: 2px solid gray;
	border-radius: 8px;
	text-align: center;
	margin: 0 auto 32px;
}
.box-info h1 {
	max-width: 520px;
	padding: 8px 0;
	border-bottom: 2px solid gray;
	margin: 0 auto;
}
.box-info mark {
	background: none;
	color: red;
}
.box-info p {
	padding: 12px;
}
.box-category {
	font-size: 18px;
	text-align: center;
	margin: 0 auto 16px;
}
.box-category img {
	width: 96px;
	padding: 0 0 16px 0;
}
.box-category li {
	display: inline-block;
	margin: 0 16px 16px;
}
.box-category a {
	color: #fbd666;
}
.box-category a:hover {
	text-decoration: underline;
}

.top-bar .top-nav {
	display: block !important;
}
@media (max-width: 1024px) {
	.top-bar .top-nav li {
		border-left: 1px solid gray;
	}
}
@media (max-width: 480px) {
	.top-bar .top-nav li:first-child {
		display: none;
	}
	.top-bar .top-nav li {
		border-left: none;
	}
	.top-bar .top-nav li:last-child {
	border-left: 1px solid gray;
	}
}