.content {
	align-items: center;
}
.content-header {
	margin: 0 0 0 0;
}
.tag-background {
	width: 360px;
	position: absolute;
	top: 68px;
	right: 168px;
}
.table-list {
	border-radius: 8px;
	margin: 0 0 32px 0;
}
.table-list img {
	display: inline-block;
}
.table-list h3 {
	padding: 8px;
	background: #fbd666;
	border-bottom: 4px solid gray;
	border-radius: 6px 6px 0 0;
}
.col-1 {
	width: 58%;
	text-align: left !important;
}
@media (max-width: 480px) {
	.col-1 {
		width: 70%;
	}
}
.col-2, .col-3 {
	width: 6%;
}
.col-time {
	width: 11%;
}
.col-4 {
	width: 8%;
}
.col-5 {
	width: 16%;
}
.info {
	display: none;
}
@media (max-width: 480px) {
	.info {
		display: block;
	}
}
.table-list table {
	background: #ddd;
	border-radius: 0 0 6px 6px;
}
.table-list th {
	background: #302f2f;
	text-align: center;
}
.table-list td, .table-list th {
	padding: 4px 8px;
	text-align: center;
	position: relative;
}
.table-list td {
	border-right: 1px solid #c0c0c0;
	border-left: 1px solid #f6f6f6;
	font-size: 14px;
	color: black;
}
.table-list tr:nth-of-type(odd) td {
	background: #f0f0f0;
}
.table-list tr:last-child {
	border-radius: 0 0 6px 6px;
}
.table-list td:first-child {
	border-left: 0;
}
.table-list td:last-child {
	border-right: 0;
	border-left: 3px solid;
}
.table-list .name a {
	color: black;
}
.col-5 a {
	font-weight: normal;
	color: #302f2f;
}
.table-list a:hover {
	text-decoration: underline;
}
@media (max-width: 1024px) {
	.col-time, .col-5 {
		display: none;
	}
}
@media (max-width: 480px) {
	.col-2, .col-3, .size {
		display: none;
	}
}
@media (max-width: 480px) {
	.col-4 {
		width: 16%;
	}
}
.size .seeds {
	display: none;
}
@media (max-width: 480px) {
	.size .seeds {
		display: block;
	}
}